<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
</head>
<body>

    <h1>data :</h1>
    <h4><p id = "aa"> <%= temperature.Name %>  : <%= temperature.value %> </p></h2>
    <h4><p id = "bb"> <%= humidity.Name %> : <%= humidity.value %> </p></h2>
    <h4><p id = "cc"> <%= light.Name %> : <%= light.value %></p></h2>
    <h4><p id = "dd"> <%= dryness.Name  %> : <%= dryness.value  %> </p></h2>

    
    <td><div>
        <button onclick="location.href='/home'" type="button">上一頁</button>
         <!-- 回到index.html頁面 -->
    </div></td>

    <script>
       
        function update(){
            window.location.reload();
        }

        setInterval("update()", 2000); // 每兩秒更新一次頁面
    </script>
</body>
</html>